

body {
    /* border-style: solid; */
}

div {
    /* border-style: solid; */
    border-color: black;
}

.separate {
    /* border-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.position {
    text-decoration: underline;
}